#
# The global gitignore
#
# $HOME/.config/git/ignore
#
# See:
# https://www.geeksforgeeks.org/ignoring-files-and-folders-in-git/
# man gitignore

#
# C/C++
# Qt creator, VScode, CLion
build/
build-*/
#.vscode/
.idea/
CMakeLists.txt.user

#
# Java
# IntelliJ IDEA, VScode
out/
.idea/
*.iml
.DS_Store
bin/
!.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

#
# kate code editor
*.kate-swp

